<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="static/globals.css" />
    <link rel="stylesheet" href="static/style1.css" />
    <link rel="stylesheet" href="static/style2.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StageConnect</title>
  </head>

  <body>
    <div class="desktop">
      <div class="siteweb">
        {% include 'navbar.html.twig' %}
        {% include 'header.html.twig' %}

        <main class="offres">
          <p class="text6"><strong>Postes à pourvoir actuellement</strong></p>

          {% for offre in offres %}
            <div class="offres-stage">
              <p>{{ offre.Description }}</p>
              <p><strong>Compétences requises :</strong> {{ offre.Competences }}</p>
              <p><strong>Rémunération :</strong> {{ offre.Remuneration_Base }} €</p>
              <p><strong>Date :</strong> {{ offre.Dates | date("d/m/Y") }}</p>
              <a href="index.php?page=postuler&id={{ offre.Id_Offre_De_Stage }}">
              <button class="btn-offer">Postuler</button>
              </a>

            </div>
          {% else %}
            <p>Aucune offre de stage disponible actuellement.</p>
          {% endfor %}
        </main>

        {% include 'footer.html.twig' %}
      </div>
    </div>
  </body>
</html>
